
.top-banner{
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  /*background-color: gray;*/
}
.center{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 51px;
  width: 100%;
  margin: auto;
}
/*清除浮动*/
.top-banner:after{
  content: '';
  display: block;
  clear: both;
}
.nav:after{
  content: '';
  display: block;
  clear: both;
}
.nav{
  border-top: 3px solid #8BA7E3;
  border-bottom: 2px solid #B4C9F5;
  background: linear-gradient(to right bottom, #D8E5F7, #BCD3F5);
}
.icon{
  float: left;
}
.desc{
  float: right;
}
.item{
  float: left;
  width: 166px;
  height: 48px;
  text-align: center;
  cursor: pointer;
}
.item:hover{
  background-color: white;
}
.item.active{
  background: white;
}
.item .desc{
  float: none;
  font-size: 12px;
}
.item .title{
  color: #34538b;
  font-size: 14px;
}
.item .title:hover{
  color: #333;
}
.pagination{
  padding-top: 30px;
  padding-left: 10px;
}
.pagination-item{
  float: left;
  padding: 2px 6px;
  margin: 2px;
  color: #34538b;
  border: 1px solid #34538b;
}
.pagination-item.first{
  color: #666;
  border: 1px solid #666;
}
.pagination-item.current{
  font-weight: bold;
  border: 1px solid #666;
  color: #fff;
  background-color: #486aaa;
}
.pagination:after{
  content: '';
  display: block;
  clear: both;
}
.article-title{
  text-decoration: none;
}
