
.top-banner{
  position: relative;
  /*background-color: gray;*/
}
.center{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 51px;
  width: 100%;
  margin: auto;
}
.nav{
  border-top: 3px solid #8BA7E3;
  border-bottom: 2px solid #B4C9F5;
  background: linear-gradient(to right bottom, #D8E5F7, #BCD3F5);
}
.icon{
  float: left;
}
.desc{
  float: right;
}
.parent{
  position: relative;
}
.child{
}
.child-1{
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 200px;
  height: 50px;
  background-color: aqua;
}
.item{
  float: left;
  width: 166px;
  height: 48px;
  text-align: center;
  cursor: pointer;
}
.item:hover{
  background-color: white;
}
.item.active{
  background: white;
}
.item .desc{
  float: none;
  font-size: 12px;
}
.item .title{
  color: #34538b;
  font-size: 14px;
}
.item .title:hover{
  color: #333;
}
.pagination{
  padding-top: 30px;
  padding-left: 10px;
}
.pagination-item{
  float: left;
  padding: 2px 6px;
  margin: 2px;
  color: #34538b;
  border: 1px solid #34538b;
}
.pagination-item.first{
  color: #666;
  border: 1px solid #666;
}
.pagination-item.current{
  font-weight: bold;
  border: 1px solid #666;
  color: #fff;
  background-color: #486aaa;
}
.pagination:after{
  content: '';
  display: block;
  clear: both;
}
.page-area{
  margin-left: 50px;
  padding-top: 20px;
}
.article-title{
  font-size: 25px;
  color: #000;
  font-weight: bold;
}
.article-desc{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #777;
  font-size: 12px;
}
.article-label{
  width: 600px;
  padding: 4px 5px;
  color: #666;
  background-color: rgba(0,0,0,.05);
  font-size: 12px;
  border-left: 4px solid #ccc;
}
.article-desc .comment{
  padding: 0 5px;
  background-color: #888;
  color: #fff;
  border-radius: 3px;
}
.share-area{
  width: 60px;
  margin-left: 8px;
  text-align: center;
}
.icon-text{
  color: #777;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 12px;
}
.icon-weibo{
  display: inline-block;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 12px #ccc;
  background-color: white;
  background-image: url("../../assets/weibo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}
.icon-weibo:hover{
  background-image: url("../../assets/weibo-active.png");
}
.nav-area{
  width: 100px;
  margin: 0 20px;
  padding-left: 15px;
  border-left: 1px solid #ccc;
}
.anchor-title{
  margin-top: 5px;
  color: #242934;
  font-size: 14px;
  opacity: .6;
}
.anchor-title.last{
  margin-bottom: 5px;
}
.comment-area{
  width: 600px;
  margin-top: 20px;
  margin-left: 20px;
}
.comment-area .comment-item {
  margin-bottom: 15px;
  padding: 3px 10px 15px 10px;
  border: 1px solid #999;
}
.comment-area .comment-item.old{
  background-color: rgba(0,0,0,.3);
}
.comment-area .comment-item .text{
  font-weight: bold;
}
.comment-area .comment-item .date{
  color: #34538b;
  font-size: 14px;
  cursor: pointer;
}
.comment-area .comment-item .date:hover{
  text-decoration: underline;
}
/*form*/
.form-area{
  margin: 30px;
}
.form{
  padding: 20px;
  border: 1px solid #000;
}
.demo-hover-box{
  display: none;
  width: 200px;
  height: 200px;
  background: #8BA7E3;
}
.submit-box .submit:hover{
  color: red;
  display: block;
}
